{% extends 'base.html' %}

{% block title %}Nurse List{% endblock %}

{% block content %}
  <h2>Nurse List</h2>
  <ul class="list-group">
    {% for nurse in nurses %}
      <li class="list-group-item">
        {{ nurse.name }} - {{ nurse.age }} years old - {{ nurse.address }}
        <a href="{% url 'delete_nurse' nurse.id %}" class="btn btn-danger btn-sm float-right ml-2">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'add_nurse' %}" class="btn btn-primary mt-3">Add Nurse</a>
{% endblock %}
